# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
/build/
/ios/build/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/
/android/build/
/android/app/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Sensitive Files
backend/venv/
backend/.env
*.env
secrets.json
